.calculator-form {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  border-radius: 3rem;
  padding: 2rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
  width: 80%;
}

.calculator-form__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.input {
  width: 100%;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.7rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.error {
  color: red;
}

.no-error {
  visibility: hidden;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 2rem;
}
